.iss__validation__load {
  width: 100%;
  display: flex;
  place-content: center;
}
.iss__validation {
  width: 100%;
  display: flex;
  gap: 20px;
}
.iss__validation__filters {
  border: none;
  width: fit-content;
  margin-bottom: 20px;
  display: flex;
  gap: 8px;
}
.iss__validation__filters>.iss__customSelector {
  min-width: 160px;
}