.iss__validation__load {
  width: 100%;
  display: flex;
  place-content: center;
}
.iss__validation {
  width: 100%;
  display: flex;
  gap: 20px;
}
.iss__validation__filters {
  border: none;
  margin-bottom: 20px;
  display: flex;
  gap: 8px;
}
.iss__validation__filters>.iss__customSelector {
  max-width: 180px;
}
.iss__validation__filters #selector--attributes_2 {
  min-height: 120px;
}