.iss__footer {
  padding: 20px;
  border-top: 2px dashed #62abff;
}
.iss__footer__contacts {
  list-style: none;
}
.iss__footer__contact {
  display: flex;
  gap: 12px;
}
.iss__footer__contact:not(:last-child) {
  margin-bottom: 12px;
}