.iss__header {
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed var(--issBrand);
  place-items: center;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 10;
}
.iss__header__user{
  display: flex;
  gap: 20px;
  place-items: center;
  color: var(--issBrand);
}
.iss__header__logoutButton {
  background: none;
  border: 1px solid var(--issBrand);
  cursor: pointer;
  padding: 4px 8px;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.iss__header__logoutButton:hover {
  background-color: var(--issBrand);
  color: white;
}
