.iss__projectEdit__title {
  font-size: 24px;
  color: var(--issBlack);
  margin-bottom: 40px;
}
.iss__projectEdit__form {
  width: 100%;
  border: none;
  display: grid;
  grid-template-columns: 35% 1px auto;
  gap: 20px;
  grid-template-areas:
    "project_field form_border attribute_field"
}
.iss__projectEdit__form__set {
  border: none;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 20px;
}
.iss__projectEdit__form__set:nth-child(1) {
  grid-area: project_field;
}
.iss__projectEdit__form__border {
  grid-area: form_border;
  background-color: var(--issBrand);
  margin: -20px 0;
}
.iss__projectEdit__form__input {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}
.iss__projectEdit__form__input textarea, .iss__projectEdit__form__input input {
  border: 1px solid var(--issBrand);
  padding: 12px;
}
.iss__projectEdit__form__input textarea {
  resize: vertical;
  min-height: 200px;
}
.iss__projectEdit__form__createButton {
  background: none;
  border: 1px solid var(--issBrand);
  cursor: pointer;
  padding: 4px 8px;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.iss__projectEdit__form__createButton:hover {
  background-color: var(--issBrand);
  color: white;
}