.iss__projectEdit__form {
  width: 100%;
  border: none;
  display: grid;
  grid-template-columns: 35% 1px auto;
  column-gap: 20px;
  row-gap: 60px;
  grid-template-areas:
    "project_field form_border attribute_field"
    ". edit-button .";
}
.iss__projectEdit__fieldset {
  border: none;
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}
.iss__projectEdit__form__set {
  border: none;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 20px;
}
.iss__projectEdit__form__set:nth-child(1) {
  grid-area: project_field;
}
.iss__projectEdit__form__border {
  grid-area: form_border;
  background-color: var(--issBrand);
  margin: -20px 0;
}
.iss__projectEdit__form__input {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}
.iss__projectEdit__form__input textarea, .iss__projectEdit__form__input input {
  border: 1px solid var(--issBrand);
  padding: 12px;
}
.iss__projectEdit__form__input textarea {
  resize: vertical;
  min-height: 200px;
}
.iss__projectEdit__form__createButton {
  grid-area: edit-button;
  place-self: center;
  width: fit-content;
  background: none;
  border: 1px solid var(--issBrand);
  cursor: pointer;
  padding: 12px 20px;
  transition: background-color 0.3s ease;
}
.iss__projectEdit__form__createButton>span {
  text-transform: uppercase;
  white-space: nowrap;
  transition: color 0.3s ease;
}
.iss__projectEdit__visibilityLink, .iss__projectEdit__deleteButton {
  padding: 4px 8px;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  outline: none;
  width: fit-content;
  height: fit-content;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.iss__projectEdit__visibilityLink {
  flex-shrink: 0;
  background-color: var(--issLightBrand);
  border: 1px solid var(--issBrand);
  color: var(--issBrand);
  text-decoration: none;
}
.iss__projectEdit__deleteButton {
  background-color: rgb(255, 98, 98, 0.2);
  border: 1px solid var(--issRed);
  color: var(--issRed);
}
.iss__projectEdit__deleteProceed {
  width: 100%;
  display: flex;
  gap: 12px;
  place-items: center;
  flex-wrap: wrap;
}
.iss__projectEdit__deleteProceed>span {
  width: 100%;
}
.iss__projectEdit__delete--yes,
.iss__projectEdit__delete--no {
  padding: 4px 8px;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  outline: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.iss__projectEdit__delete--yes {
  background-color: rgb(255, 98, 98, 0.2);
  border: 1px solid var(--issRed);
  color: var(--issRed);
}
.iss__projectEdit__delete--no {
  background-color: unset;
  border: 1px solid var(--issBrand);
}
.iss__projectEdit__attributes {
  display: flex;
  flex-direction: column;
}
.iss__projectEdit__attributeSeparator {
  max-width: 557px;
  width: 100%;
  height: 1px;
  background-color: var(--issBrand);
  margin-bottom: 20px;
}
.iss__projectEdit__delete__input {
  padding: 4px 8px;
  max-width: 240px;
  border: 1px solid var(--issBrand);
  overflow-x: scroll;
  outline: none;
}
@media (hover:hover) {
  .iss__projectEdit__delete--yes:hover {
    background-color: var(--issRed);
    color: white;
  }
  .iss__projectEdit__delete--no:hover {
    background-color: var(--issBrand);
    color: white;
  }
  .iss__projectEdit__visibilityLink:hover {
    background-color: var(--issBrand);
    color: white;
  }
  .iss__projectEdit__deleteButton:hover {
    background-color: var(--issRed);
    color: white;
  }
  .iss__projectEdit__form__createButton:hover {
    background-color: var(--issBrand);
  }
  .iss__projectEdit__form__createButton:hover>span {
    color: white;
  }
}