.iss__cardSelector {
  width: 100%;
  margin-top: 12px;
}
.iss__cardSelector__button {
  padding: 2px 4px;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.iss__cardSelector__button:hover {
  color: white;
}
.add--group {
  background-color: var(--issLightGreen);
  color: var(--issGreen);
  margin-bottom: 12px;
}
.add--group:hover {
  background-color: var(--issGreen);
}
.del--group {
  background-color: var(--issLightRed);
  color: var(--issRed);
}
.del--group:hover {
  background-color: var(--issRed);
}
.iss__cardSelector__layer {
  margin-bottom: 8px;
}