.iss__fileInput {
  border: 1px solid var(--issBrand);
  flex-grow: 1;
  padding: 40px 20px 20px;
  position: relative;
  width: 100%;
}
.iss__fileInput__note {
  margin-bottom: 12px;
}
.iss__fileInput__upload {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--issBrand);
  color: white;
  padding: 4px 8px;
  cursor: pointer;
  outline: 1px solid var(--issBrand);
}
.iss__fileInput__upload:hover {
  background-color: white;
  color: var(--issBrand);
}
.iss__fileInput__upload input {
  display: none;
}
.iss__fileInput__filesUploaded {
  display: flex;
  flex-wrap: wrap;
  margin: -6px;
}
.iss__fileInput__fileCard {
  width: 33%;
  padding: 6px;
}
.iss__fileInput__fileWrap {
  width: 100%;
  border: 1px solid var(--issBrand);
  position: relative;
}
.iss__fileInput__file {
  width: 100%;
  height: 180px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: rgba(98, 171, 255, 0.1);
}
.iss__fileInput__fileWrap input {
  border: none;
  width: 100%;
  padding: 4px 8px;
  outline: none;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  outline: 1px solid var(--issBrand);
}
.iss__fileInput__fileWrap button {
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  height: 22px;
  border: none;
  background-color: unset;
  cursor: pointer;
}
.iss__fileInput__fileWrap button span {
  position: absolute;
  top: 9px;
  left: 0px;
  display: block;
  width: 22px;
  height: 4px;
  background-color: var(--issLightRed);
}
.iss__fileInput__fileWrap button span:nth-child(1) {
  rotate: 45deg;
}
.iss__fileInput__fileWrap button span:nth-child(2) {
  rotate: -45deg;
}
.iss__fileInput__fileWrap button:hover span {
  background-color: var(--issRed);
}
.iss__fileInput__selectorWrap {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.iss__fileInput__selectorWrap select {
  width: 100%;
}
.iss__fileInput__selectorWrap fieldset {
  width: 100%;
  background-color: unset;
  padding: 0;
}
.iss__filesUpload__loadingWrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}
.iss__filesUpload__loadingWrap>div {
  place-self: center;
}