.iss__fileInput {
  border: 1px solid var(--issBrand);
  flex-grow: 1;
  padding: 40px 20px 20px;
  position: relative;
  width: 100%;
}
.iss__fileInput__note {
  margin-bottom: 12px;
}
.iss__fileInput__upload {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--issBrand);
  color: white;
  padding: 4px 8px;
  cursor: pointer;
  outline: 1px solid var(--issBrand);
}
.iss__fileInput__upload:hover {
  background-color: white;
  color: var(--issBrand);
}
.iss__fileInput__upload input {
  display: none;
}
.iss__fileInput__filesUploaded {
  display: flex;
  flex-wrap: wrap;
  margin: -6px;
}
.iss__fileInput__fileCard {
  width: 33%;
  padding: 6px;
}
