.iss__filesUpload__attributes {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: fit-content;
  background-color: var(--issBrand);
  color: white;
  gap: 20px;
  min-width: 240px;
  border: none;
  height: fit-content;
}
.style--min {
  min-width: initial;
  width: 100%;
  gap: 12px;
  padding: 10px 0;
  background-color: unset;
}
.iss__filesUpload__selectWrapper {
  width: 100%;
}
.iss__filesUpload__button {
  border: 1px solid white;
  color: white;
  background-color: var(--issBrand);
  padding: 4px 8px;
  width: fit-content;
  place-self: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.iss__filesUpload__button:hover {
  background-color: white;
  color: var(--issBrand);
}