.iss__customSelector {
  position: relative;
  width: 100%;
  border: 1px solid;
  padding: 4px 8px;
  background-color: white;
  border: 1px solid var(--issBrand);
}
.iss__customSelector__selected {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.iss__customSelector__selected>span {
  padding: 2px 8px;
  color: black;
  font-size: 14px;
  background-color: var(--issLightBrand);
  border-radius: 4px;
}
.iss__customSelector__selected>span:not(:last-child) {
  margin-right: 4px;
}
.iss__customSelector__selected>svg {
  position: absolute;
  fill: var(--issBrand);
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}
.iss__customSelector__options {
  position: absolute;
  top: 28px;
  left: 0;
  z-index: 1;
  width: 100%;
  overflow-y: hidden;
  background-color: white;
  max-height: 0;
  outline: 1px solid transparent;
  transition: max-height 0.3s ease, outline 0.5s ease;
}
.iss__customSelector__options>div {
  padding: 4px 8px;
  display: flex;
  flex-direction: column;
}
.options--open {
  outline-color: var(--issBrand);
  max-height: 500px;
}
.iss__customSelector__level {
  font-size: 14px;
  cursor: pointer;
  color: black;
  padding: 4px 0;
  border-bottom: 1px solid var(--issBrand);
  margin-bottom: 8px;
}
.iss__customSelector__level:hover {
  background-color: var(--issLightBrand);
}
.iss__customSelector__selector {
  border: none;
  outline: none;
  font-size: 14px;
}
.iss__customSelector__option:hover {
  background-color: var(--issLightBrand);
  cursor: pointer;
}
.off--title {
  background-color: transparent !important;
}