.iss__selector {
  padding: 4px 8px;
  border: 1px solid var(--issBrand);
  width: 100%;
  cursor: pointer;
  outline: none;
  font-size: 14px;
}
.iss__selectorsWrap {
  margin-bottom: 16px;
}
.iss__selector__name {
  font-size: 14px;
}