.iss__fileSelector {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 16%;
    width: 100%;
}
.iss__fileSelector__inner {
    padding: 4px 2px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1px;
    max-height: 500px;
    overflow-y: scroll;
    border: 1px solid var(--issBrand);
}
.iss__fileSelector__pagination {
    width: 100%;
    display: flex;
    gap: 8px;
    place-content: center;
    place-items: center;
    font-size: 18px;
}
.iss_fileSelector__pagination__input {
    display: flex;
    font-size: 18px;
    gap: 4px;
}
.iss_fileSelector__pagination__input > input {
    width: 40px;
    font-size: 18px;
    display: flex;
    place-content: center;
    border: 1px solid var(--issBrand);
}
.nav--block {
    pointer-events: none;
    fill: grey !important;
}
