.goals__inlineCreate {
    background-color: unset;
    border: none;
    margin-left: 8px;
    color: var(--issBrand);
    cursor: pointer;
}

.goals__cardWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.goals__load {
    width: 100%;
    display: flex;
    place-content: center;
}

.goal__button,
.goal__creteButton {
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    outline: none;
    width: fit-content;
    height: fit-content;
    border: 1px solid;
    border-color: var(--issGreen);
    background-color: rgb(235 255 226);
    color: var(--issGreen);
    margin-bottom: 20px;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

.goal__createFrom {
    background-color: var(--issBrand);
    padding: 20px;
    border-radius: 4px;
    display: flex;
    place-items: center;
    gap: 8px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.goal__createFrom > .iss__selectorWrap {
    flex-direction: row;
    width: 100%;
}
.goal__createFrom > .iss__selectorWrap > label:last-of-type:not(:only-of-type) {
    opacity: 0.2;
    transition: opacity 0.3s ease;
}
.goal__createFrom .iss__selector__name {
    color: white;
}
.goal__createFrom > input,
.goal__createFrom > select {
    border-radius: 4px;
    padding: 4px 8px;
    background-color: white;
    border: 1px solid var(--issBrand);
}
.goal__creteButton {
    margin-bottom: 0;
}
.goal__errors {
    color: var(--issRed);
    width: 100%;
}
.goal__table {
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    min-width: 520px;
}
.goal__table th,
.goal__table td {
    border: 1px solid var(--issBrand);
    padding: 4px;
}
.goal__table th:not(:first-of-type) {
    width: 1px;
}
.goal__table__progress {
    width: 15% !important;
}

.goal__table td:not(:first-of-type) {
    text-align: center;
}

@media (hover: hover) {
    .goal__button:hover {
        color: white;
        background-color: var(--issGreen);
    }
    .goal__createFrom > .iss__selectorWrap > label:last-of-type:hover {
        opacity: 1;
    }
}
