.iss__allProjects {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: -6px;
}
.iss__projects__card {
  padding: 6px;
  width: 33%;
}
.iss__projects__loading {
  width: 100%;
  display: flex;
  place-content: center;
}
@media (max-width: 768px) {
  .iss__projects__card {
    width: 50%;
  }
}
@media (max-width: 575px) {
  .iss__projects__card {
    width: 100%;
  }
}