.DS_Store
.idea
.vscode
db
broker-db

venv
__pycache__
migrations
file_store
storage
worker_tmp
temp_zip

node_modules
.pnp
pnp.js

coverage

build

.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
frontend-app/package-lock.json

token.json
