.iss__filesUpload {
    width: 100%;
    display: flex;
    gap: 20px;
    position: relative;
}

.iss__filesUpload__form__border {
    background-color: var(--issBrand);
    margin: -20px 0;
    width: 1px;
}
@media (max-width: 768px) {
    .iss__filesUpload {
        flex-direction: column;
    }

    .iss__filesUpload__form__border {
        display: none;
    }
}
