.iss__downloadingView__title {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}

.iss__downloadingView__title > * {
    font-size: 20px;
}

.iss__downloadingView__title__id {
    cursor: pointer;
    font-weight: 700;
    color: var(--issBrand);
    position: relative;
}

.iss__downloadingView__title__id > svg {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(120%, -50%);
}

.iss__downloadingView__title__id > svg > path {
    opacity: 0.2;
    fill: var(--issBlack);
}

.iss__downloadingView__clipboardTip {
    position: absolute;
    padding: 4px;
    background-color: var(--issBrand);
    color: white;
    font-size: 8px;
    transform: translate(0px, -100%);
    border-radius: 4px;
    box-shadow: 1px 1px 1px 0px var(--issLightBrand);
}

.clipboardTip--error {
    background-color: var(--issLightRed) !important;
}

.id--anchor {
    color: var(--issBrand);
    cursor: pointer;
    transition: color 0.3s ease;
}

.iss__downloadingView__explanation {
    font-size: 18px;
}

.iss__downloadingView__explanation:before,
.iss__downloadingView__explanation:after {
    content: "!";
    display: inline-block;
    color: var(--issLightRed);
    font-size: 24px;
}

.iss__downloadingView__explanation:before {
    margin-right: 12px;
}

.iss__downloadingView__explanation:after {
    margin-left: 12px;
}

.iss__downloadingView__download {
    margin-top: 20px;
}

@media (hover: hover) {
    .iss__downloadingView__title__id:hover {
        color: var(--issLightBrand);
    }

    .iss__downloadingView__title__id:hover > svg > path {
        fill: var(--issBrand);
    }

    .id--anchor:hover {
        color: var(--issLightBrand);
    }
}
