.iss__validation__load {
    width: 100%;
    display: flex;
    place-content: center;
}
.iss__validation {
    min-height: 520px;
    flex-grow: 1;
    width: 100%;
    display: flex;
    gap: 12px;
}

.iss_validation__duplicates {
    display: flex;
    gap: 8px;
    place-tems: center;
}
