.zoomWrap {
    position: relative;
    border-radius: 4px;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    background: white;
    background-image: radial-gradient(#62abff37 3px, transparent 0);
    background-size: 40px 40px;
    background-position: -20px -20px;
}
.mediaItem {
    width: 100%;
    height: 100%;
    transform-origin: 0px 0px;
    transform: scale(1) translate(0px, 0px);
    cursor: grab;
    display: flex;
    place-content: center;
    place-items: center;
}
.mediaFile {
    max-height: 100%;
    max-width: 100%;
}
.zoomWrap > mark {
    position: absolute;
    background-color: rgb(241 223 255);
    backdrop-filter: blur(10px);
    border: 1px solid rgb(84, 0, 178);
    color: rgb(84, 0, 178);
    font-size: 24px;
    z-index: 1;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    padding: 24px;
    transform: translate(-50%, -50%);
}
