.iss__attributesForm {
  background-color: #62abff;
  color: white;
  padding: 20px;
  user-select: none;
  position: relative;
  overflow-x: scroll;
  margin-bottom: 20px;
}
.iss__attributesForm__levels {
  margin-bottom: 20px;
}
.iss__attributeForm__titleWrap {
  display: flex;
  gap: 4px;
  place-items: center;
  margin-bottom: 8px;
}
.iss__attributesForm__levelWrap {
  width: fit-content;
  display: flex;
  background-color: white;
}
.iss__attributesForm__levelWrap:not(:last-child) {
  margin-bottom: 8px;
}
.iss__attributesForm__levelWrap input {
  border: none;
  padding: 4px 8px;
  outline: none;
}

.iss__attributesForm__delButton {
  display: flex;
  width: fit-content;
}
.iss__attributesForm__button {
  border: none;
  position: relative;
  background: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 2px;
}
.iss__attributesForm__button span{
  display: block;
  width: 20px;
  height: 4px;
}
.button-del span {
  background-color: #ff6262;
}
.button-del:hover span {
  background-color: #ff0000;
}
.button-add span {
  position: absolute;
  background-color: #99ff62;
}
.button-add:hover span {
  background-color: #6db845;
}
.button-add span:nth-child(1) {
  rotate: 90deg;
}
