.iss__changeAttributes {
 width: 100%;
 display: flex;
 flex-direction: column;
 position: relative;
}
.iss__changeAttributes>button {
  border: 1px solid var(--issBrand);
  padding: 4px 8px;
  background-color: var(--issBrand);
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  font-size: 16px;
  transform: translate(0px, -100%);
}
.iss__changeAttributes>button:hover {
  color: var(--issBrand);
  background-color: white;
}
.iss__changeAttributes__edit__new {
  padding: 20px;
}
.iss__changeAttributes__edit__new .iss__attributecreator__attributesForm {
  max-width: 100%;
  min-height: 180px;
}
.iss__changeAttributes__edit__new .iss__attributesForm {
  padding: 0;
  width: 100%;
  background-color: unset;
  border-bottom: 1px dashed var(--issBrand);
  padding-bottom: 12px;
  margin-bottom: 40px;
}
.iss__changeAttributes__edit__new .iss__attributesForm h2,
.iss__changeAttributes__edit__new .iss__attributesForm h3 {
  color: var(--issBlack);
}
.iss__changeAttributes__edit__new .iss__attributesForm input {
  border: 1px solid var(--issBrand);
}
.iss__changeAttributes__edit__new .iss__attributeForm__tree {
  color: var(--issBrand);
}
.iss__changeAttributes__edit__new .attribute--child {
  border-left: 1px dashed var(--issBrand);
}
.iss__changeAttributes__edit__new .iss__attributeForm {
  background: unset;
}