.iss__fileswiper {
  position: relative;
  width: 100%;
  height: 600px;
  overflow-y: hidden;
}
.iss__fileswiper:hover .iss__fileswiper__controls {
  transform: translate(-50%, -20%);
  transition: transform 0.3s ease;
}
.iss__fileswiper__controls {
  backdrop-filter: blur(10px);
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 8px;
  transform: translate(-50%, 100%);
  border: 1px solid var(--issBrand);
  display: flex;
  place-items: center;
  gap: 20px;
}
.slider-button {
  border: none;
  position: relative;
  background: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 2px;
  outline: none;
}
.slider-button span{
  display: block;
  width: 20px;
  position: absolute;
  height: 4px;
}
.slide-res {
  width: fit-content;
  height: fit-content;
  padding: 4px 8px;
  background-color: white;
  color: var(--issBrand);
  border-radius: 6px;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.slide-res:hover {
  background-color: var(--issBrand);
  color: white;
}
.slide-dec span {
  background-color: var(--issLightRed);
}
.slide-dec:hover span {
  background-color: var(--issRed);
}
.slide-inc span{
  background-color: var(--issLightGreen);
}
.slide-inc span:nth-child(1) {
  rotate: 90deg;
}
.slide-inc:hover span {
  background-color: var(--issGreen);
}