.iss__fileCard {
  width: 100%;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #62abff;
  color: #62abff;
  transition: 0.3s ease;
}
.iss__fileCard:hover {
  filter: sepia(2);
}
.card--accepted {
  background-color: rgb(153, 255, 98, 0.2);
  border: 1px solid #6db845;
  color: #6db845;
}
.card--rejected {
  background-color: rgba(255, 98, 98, 0.2);
  border: 1px solid #ff0000;
  color: #ff0000;
}
.card--active {
  filter: none !important;
  cursor: default;
  background-color: rgb(98, 171, 255, 0.2);
}
.iss__fileCard p {
  margin: 6px 0 12px;
}
.iss__fileCard span {
  font-size: 8px;
  place-self: flex-end;
}

