.iss__fileSelector {
  padding: 4px 2px;
  max-width: 16%;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1px;
  max-height: 500px;
  overflow-y: scroll;
  border: 1px solid var(--issBrand);
}