.iss__formContainer {
  max-width: 400px;
  width: 100%;
  border: 1px solid var(--issBrand);
  padding: 40px 20px;
  position: relative;
}
.iss__form {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 20px;
  width: 100%;
}
.iss__formContainer__errors {
  font-size: 16px;
  color: red;
  margin-bottom: 20px;
}
.iss__input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  width: 100%;
}
.iss__input input {
  padding: 4px 8px;
  border: 1px solid var(--issBrand);
  background-color: #0077ff05;
  outline: none;
}
.iss__formButton, .iss__regButton {
  padding: 8px 12px;
  width: fit-content;
  place-self: center;
  background-color: var(--issBrand);
  border: 1px solid var(--issBrand);
  color: white;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.iss__regButton {
  color: white !important;
}
.iss__regButton:hover {
  border-top: 1px solid var(--issBrand);
  border-left: 1px solid var(--issBrand);
}
.iss__formButton:hover, .iss__regButton:hover {
  color: var(--issBrand);
  background-color: white;
}
.iss__regButton {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 0;
}
.iss__formContainer a:hover {
  color: var(--issBrand) !important;
}
.iss__formLoad {
  margin: 0 auto;
}