.iss__brand {
  display: flex;
  place-items: center;
  gap: 12px;
  text-decoration: none;
}
.iss__brand__logo {
  width: 100px;
  height: 60px;
}
.iss__brand__name {
  text-align: center;
  color: #62abff;
  transition: opacity 0.3s ease;
}
.iss__brand:hover .iss__brand__name {
  opacity: 0.7;
}