.iss__projectCard {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background-color: white;
  border-radius: 12px;
  border: 1px solid #62abff;
  padding: 12px 20px;
  box-shadow: 1px 1px 2px #62abff;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
.iss__projectCard:hover {
  transform: scale(1.01) translate(-6px, -6px);
  box-shadow: 6px 6px 10px #62abff;
}
.iss__projectCard__name {
  color: #62abff;
  font-size: 24px;
  margin-bottom: 12px;
}
.iss__projectCard__text {
  font-size: 18px;
  color: black;
  margin-bottom: 20px;
}
.iss__projectCard__date {
  font-size: 8px;
  color: black;
  text-align: right;
}
