.iss__statusLoad {
  width: 200px;
  height: 20px;
  border: 1px solid var(--issBrand);
  background-color: var(--issLightBrand);
}
.iss__statusLoad__progress {
  height: 100%;
  background-color: var(--issBrand);
  transition: width 1s ease;
}