.iss__fileInfo {
  max-width: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid var(--issBrand);
}
.iss__fileInfo__title {
  color: var(--issBrand);
  margin-bottom: 20px;
  word-break: break-all;
}
.iss__fileInfo__buttonsWrap {
  display: flex;
  gap: 12px;
  width: fit-content;
  place-self: center;
  margin-top: auto;
}
.iss__fileInfo__buttonsWrap button {
  padding: 4px 8px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
  user-select: none;
  outline: none;
}
.button--reject {
  background-color: rgb(255, 98, 98, 0.2);
  border: 1px solid var(--issRed);
  color: var(--issRed);
}
.button--accept {
  background-color: rgb(153, 255, 98, 0.2);
  border: 1px solid var(--issGreen);
  color: var(--issGreen);
}
.button--block {
  filter: grayscale(1);
  scale: 0.9;
  pointer-events: none;
}
@media (hover:hover) {
  .iss__fileInfo__buttonsWrap button:hover {
    scale: 1.1;
  }
}