.iss__projectCard {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background-color: white;
  border-radius: 12px;
  border: 1px solid var(--issBrand);
  padding: 12px 20px;
  box-shadow: 1px 1px 2px var(--issBrand);
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
.iss__projectCard__name {
  color: var(--issBrand);
  margin-bottom: 12px;
  word-break: break-all;
}
.iss__projectCard__text {
  font-size: 18px;
  color: black;
  margin-bottom: 20px;
}
.iss__projectCard__date {
  font-size: 8px;
  color: black;
  text-align: right;
}
@media (hover:hover) {
  .iss__projectCard:hover {
    transform: scale(1.01) translate(-6px, -6px);
    box-shadow: 6px 6px 10px var(--issBrand);
  }
}