.iss__titleSwitch {
  display: flex;
  margin-bottom: 40px;
  gap: 40px;
  width: fit-content;
  border-bottom: 1px solid var(--issBrand);
}
.iss__titleSwitch__navWrap {
  place-self: flex-end;
}
.iss__titleSwitch__nav {
  display: flex;
  width: fit-content;
  list-style: none;
}
.iss__titleSwitch__navItem, .iss__titleSwitch__navItem--active {
  display: block;
  padding: 4px 8px;
  outline: 1px solid #62abff00;
  transition: outline 0.3s ease, color 0.3s ease;
  text-decoration: none;
}
.iss__titleSwitch__navItem--active {
  pointer-events: none;
  outline: 1px solid var(--issBrand);
  background-color: var(--issBrand);
  color: white;
}
.iss__titleSwitch__title>* {
  text-decoration: none;
  color: var(--issBrand);
  transition: color 0.3s ease;
}
@media (hover:hover) {
  .iss__titleSwitch__title>a:hover {
    color: var(--issLightBrand);
  }
  .iss__titleSwitch__navItem:hover {
    outline-color: var(--issBrand);
    color: var(--issBrand);
  }
}