.iss__fallback {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.iss__fallback > a {
    background-color: var(--issBrand);
    width: fit-content;
    border-radius: 4px;
    padding: 4px 8px;
    text-decoration: none;
    color: white;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

@media (hover: hover) {
    .iss__fallback > a:hover {
        background-color: white;
        color: var(--issBrand);
    }
}
