.goal__card {
    display: flex;
    gap: 20px;
    place-items: center;
}
.goal__progressWrap {
    position: relative;
    font-size: 12px;
    border-radius: 4px;
    width: 200px;
    height: 20px;
    border: 1px solid var(--issBrand);
    background-color: var(--issLightBrand);
}
.goal__progressWrap > mark {
    position: absolute;
    background-color: unset;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 0px 0px 1px black;
}

.goal__progressBar {
    height: 100%;
    background-color: var(--issBrand);
    transition: width 1s ease;
}

.goal--complete {
    border: 1px solid var(--issGreen);
}

.goal--complete > .goal__progressBar {
    background-color: var(--issGreen);
}

.goal__delete {
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    outline: none;
    width: fit-content;
    height: fit-content;
    border: 1px solid;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
    border-color: var(--issRed);
    background-color: rgb(255, 98, 98, 0.2);
    color: var(--issRed);
}

@media (hover: hover) {
    .goal__delete:hover {
        color: white;
        background-color: var(--issRed);
    }
}
