.iss__uploadProgress__item {
  width: 700px;
  display: flex;
  gap: 20px;
  margin-bottom: 12px;
}
.complete-status-f {
  background-color: var(--issLightRed);
}
.complete-status-a {
  background-color: var(--issLightGreen);
}
.iss__uploadProgress__completion {
  width: 20px;
  height: 20px;
  border: 1px solid var(--issBrand);
  border-radius: 50%;
  overflow: hidden;
}
.iss__uploadProgress__progressWrap {
  width: 200px;
  height: 20px;
  border: 1px solid var(--issBrand);
  background-color: var(--issLightBrand);
}
.iss__uploadProgress__progress {
  height: 100%;
  background-color: var(--issBrand);
  transition: width 1s ease;
}