.iss__fileCard {
    width: 100%;
    border-radius: 4px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid var(--issBrand);
    color: var(--issBrand);
    transition: 0.3s ease;
}
.iss__fileCard > h3 {
    word-break: break-all;
    font-size: 18px;
}
.card--a {
    background-color: rgb(153, 255, 98, 0.2);
    border: 1px solid var(--issGreen);
    color: var(--issGreen);
}
.card--d {
    background-color: rgba(255, 98, 98, 0.2);
    border: 1px solid var(--issRed);
    color: var(--issRed);
}
.card--u {
    background-color: rgba(179, 98, 255, 0.2);
    border: 1px solid rgb(84, 0, 178);
    color: var(--issRed);
}
.card--active {
    filter: none !important;
    cursor: default;
    background-color: rgb(98, 171, 255, 0.2);
}
.iss__fileCard p {
    margin: 4px 0;
}
.iss__fileCard time {
    font-size: 8px;
}
.iss__fileCard mark {
    margin-top: 8px;
    background-color: unset;
    font-size: 12px;
}
@media (hover: hover) {
    .iss__fileCard:hover {
        filter: sepia(2);
    }
}
