.iss__filesDownload {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.iss__filesDownload__caption {
    font-size: 20px;
}

.iss__filesDownload__form {
    width: 100%;
    display: flex;
    gap: 40px;
    place-items: flex-start;
}

.iss__filesDownload__form > input {
    border-radius: 4px;
    border: 1px solid var(--issBrand);
    padding: 4px 8px;
    outline: none;
    font-size: 14px;
}

.iss__filesDownload__mainSet {
    width: fit-content;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    place-items: flex-start;
    transition: opacity 0.3s ease;
}

.set--hidden {
    opacity: 0.2;
    pointer-events: none;
}

.iss__filesDownload__mainSet > div {
    place-self: flex-start;
}

.iss__filesDownload__button {
    border-radius: 4px;
    background-color: white;
    max-width: 120px;
    width: 100%;
    border: 1px solid var(--issBrand);
    cursor: pointer;
    padding: 4px 8px;
    text-decoration: none;
    display: flex;
    place-content: center;
    transition: background-color 0.3s ease;
}

.iss__filesDownload__button > span {
    transition: color 0.3s ease;
}

.block--button {
    pointer-events: none;
}

.iss__filesDownload__inputBox__wrap {
    display: flex;
    gap: 4px;
    place-content: center;
}

.iss__fielsDownload__fileSelector {
    width: 100%;
}

@media (hover: hover) {
    .iss__filesDownload__button:hover {
        background-color: var(--issBrand);
    }

    .iss__filesDownload__button:hover > span {
        color: white;
    }
}
