* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#root main {
  flex-grow: 1;
  display: flex;
  place-content: center;
}
.iss__pageContent {
  max-width: var(--maxWidth);
  width: 100%;
  padding: 40px 20px;
}
h1 {
  color: var(--issBrand);
  font-size: 42px;
  line-height: 0.75;
}