.iss__selectGroup {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: fit-content;
  background-color: var(--issBrand);
  color: white;
  gap: 12px;
  max-width: 240px;
  width: 100%;
  border: none;
  height: fit-content;
}
.style--min {
  padding: 10px 0;
  background-color: unset;
}
.style--min .add--group {
  background-color: rgb(153, 255, 98, 0.2);
}
.style--min .del--group {
  background-color: rgb(255, 98, 98, 0.2);
}
.iss__selectGroup__selectWrapper {
  width: 100%;
  margin-bottom: 8px;
}
.iss__selectGroup__button {
  border: 1px solid white;
  color: white;
  background-color: var(--issBrand);
  padding: 4px 8px;
  width: fit-content;
  place-self: center;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.button--disabled {
  cursor: pointer;
  pointer-events: none;
  filter: grayscale(1);
  opacity: 0.5;
}
.add--group {
  background-color: rgb(153, 255, 98);
  border: none;
  border: 1px solid var(--issGreen);
  color: var(--issGreen);
  width: 100%;
  margin-bottom: 12px;
}
.del--group {
  border: none;
  width: 100%;
  background-color: rgb(255, 98, 98);
  border: 1px solid var(--issRed);
  color: var(--issRed);
}
@media (hover:hover) {
  .del--group:hover {
    background-color: var(--issRed);
    color: white;
  }
  .add--group:hover {
    background-color: var(--issGreen);
    color: white;
  }
  .iss__selectGroup__button:hover {
    background-color: white;
    color: var(--issBrand);
  }
}