.iss__statusLoad__wrap {
    padding: 40px 20px 20px;
    border-radius: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.iss__statusLoad {
    width: 200px;
    height: 20px;
    border: 1px solid var(--issBrand);
    background-color: var(--issLightBrand);
}

.progress--fail {
    background-color: var(--issLightRed);
}

.iss__statusLoad__progress {
    height: 100%;
    background-color: var(--issBrand);
    transition: width 1s ease;
}
