.iss__filesDownload {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.iss__filesDownload__caption {
    font-size: 20px;
}

.iss__filesDownload__form {
    width: 100%;
    display: flex;
    gap: 40px;
    place-items: flex-start;
}

.iss__filesDownload__form>input {
    border: 1px solid var(--issBrand);
    padding: 4px 8px;
    outline: none;
    font-size: 14px;
}

.iss__filesDownload__mainSet {
    width: fit-content;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    place-items: flex-start;
    transition: opacity 0.3s ease;
}

.set--hidden {
    opacity: 0.2;
    pointer-events: none;
}

.iss__filesDownload__mainSet>div {
    place-self: flex-start;
}

.iss__filesDownload__selector {
    border: 1px solid var(--issBrand);
    position: relative;
    place-self: center;
    max-width: 160px;
    width: 100%;
}

.iss__filesDownload__selected {
    width: 100%;
    height: 100%;
    padding: 4px 8px;
    cursor: pointer;
    position: relative;
}

.arrow__pic {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: var(--issBrand);
}

.iss__filesDownload__options__wrap {
    overflow-y: hidden;
    max-height: 0;
    position: absolute;
    width: 100%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    background-color: white;
    border: 1px solid var(--issBrand);
    box-shadow: 1px 1px 2px var(--issBrand);
    z-index: 1;
}

.options--open {
    max-height: 500px;
}

.iss__filesDownload__options {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;
}

.option--blue,
.option--blue>span {
    color: var(--issBrand);
}

.option--green,
.option--green>span {
    color: var(--issGreen);
}

.option--red,
.option--red>span {
    color: var(--issRed);
}

.iss__filesDownload__button {
    max-width: 120px;
    width: 100%;
    background: none;
    border: 1px solid var(--issBrand);
    color: var(--issBrand);
    cursor: pointer;
    padding: 4px 8px;
    text-decoration: none;
    display: flex;
    place-content: center;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.block--button {
    pointer-events: none;
}

.iss__filesDownload__options>span {
    cursor: pointer;
}

.iss__filesDownload__inputBox__wrap {
    display: flex;
    gap: 4px;
    place-content: center;
}

.iss__fielsDownload__fileSelector {
    width: 100%;
}

@media (hover:hover) {
    .iss__filesDownload__button:hover {
        background-color: var(--issBrand);
        color: white;
    }

    .option--red:hover {
        background-color: var(--issLightRed);
    }

    .option--green:hover {
        background-color: var(--issLightGreen);
    }

    .option--blue:hover,
    .option--common:hover {
        background-color: var(--issLightBrand);
    }
}
